body{
    background-color: rgb(39, 199, 199);
    display:flex;
    justify-content: center;
}
h1{
    color: rgb(255, 171, 45);
    text-shadow: 2px 2px black;
}
#etchBorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25% 10% 5% 0;
    height: 800px;
    width: 700px;
    background-color: rgb(255, 61, 61);
    border-radius: 3%;
}
#playArea {
    display:grid;
    margin: 50px;
    background-color: rgb(177, 171, 171);
    height: 500px;
    width: 500px;
}
#areaRange {
    width: 500px;
    margin: 0 50px 30px 50px;
}
.updatedColor {
    background-color: red;
    border: 1px solid black;
}

#gridSquare {
    border: solid black 1px;
    background-color: white;
    display:flex;
    flex-grow: 1;
}