body{
    background-color: rgb(39, 38, 38);
    display:flex;
    justify-content: center;
    flex-shrink: 1;
}
h1{
    font-size: xx-large;
    color: rgb(255, 195, 65);
    text-shadow: 2px 2px black;
}
#etchBorder {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    margin: 25% 10% 5% 0;
    height: 65vh;
    width: 50vw;
    background-color: rgb(255, 61, 61);
    border-radius: 3%;
    box-shadow: 0px -20px rgb(156, 37, 37);
}
#playArea {
    display:grid;
    margin-bottom: 50px;
    border: 8px solid rgb(104, 0, 0);
    border-radius: 10px;
    background-color: rgb(177, 171, 171);
    height: 90vh;
    min-width: 40vw;
}
#areaRange {
    accent-color:rgb(255, 171, 45);
    width: 41vw;
    margin: 0 50px 30px 50px;
}
.updatedColor {
    background-color: red;
    border: 1px solid black;
}
#gridSquare {
    border: solid black 1px;
    background-color: white;
    display:flex;
    flex-grow: 1;
}
#btns{
    display:flex;
    width: 41vw;
    justify-content: space-between;
    height: 15vw;
}
button {
    font-size: 1vw;
    max-height: 7vh;
    min-width: 7vw;
    background-color: rgb(233, 233, 233);
    color:black;
    border: .5vh solid white;
    border-radius: 50%;
}
button:hover{
    background-color: rgb(192, 192, 192)
}
#eraser, #resetBtn {
    box-shadow: -1px -5px 0px 1px rgb(216, 215, 215);
}
#greyBtn, #rainbowBtn {
    box-shadow: 1px -5px 0px 1px rgb(216, 215, 215);
}