body{
    background-color: rgb(39, 199, 199);
    display:flex;
    justify-content: center;
}
#etchBorder {
    display: flex;
    flex-direction: column;
    margin: 75px;
    height: 1000px;
    width: 700px;
    background-color: rgb(255, 61, 61);
    border-radius: 3%;
}
#playArea {
    display:grid;
    margin: 100px;
    background-color: rgb(177, 171, 171);
    height: 800px;
    width: 500px;
}
#areaRange {
}

#gridSquare {
    border: solid black 1px;
    background-color: white;
    display:flex;
    flex-grow: 1;
}